<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie to the User</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>add new movie to user</h1><br>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <!-- Movie Form -->
    <form method="post" action="{{ url_for('add_new_movie_to_user', user_id=user_id) }}">
        <label for="title">enter movie title:</label>
        <input type="text" id="title" name="title" value="{{ movie_data.title if movie_data.title else '' }}" required><br><br>

        <input type="submit" value="add it">
    </form>

    <!-- Links to other pages -->
    <a href="{{ url_for('user_movies', user_id=user.user_id) }}">back to user's movies</a><br>
    <a href="{{ url_for('list_movies') }}">all movies in dataBase</a><br>
    <a href="{{ url_for('home') }}">go home</a>

</body>
</html>