<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Existing Movie to {{ user.user_name }}'s List</title>
</head>
<body>
    <h1>add existing movie to {{ user.user_name }}'s favourite movies</h1><br>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <!-- Form for adding an existing movie to the user's list -->
    <form method="post" action="{{ url_for('add_existing_movie_to_user', user_id=user.user_id, movie_id=movie.movie_id) }}">
        <label for="movie">select a movie:</label>
        <select id="movie" name="movie_id">
            <!-- Loop through movies to create options -->
            {{% for movie in movies %}}
                <option value="{{ movie.movie_id }}">{{ movie.title }} ({{ movie.release_year }})</option>
            {{% endfor %}}
        </select>
        <br><br>

            <input type="submit" value="add it">

    </form>

    <!-- Go to User's Movie List -->
    <a href="{{ url_for('user_movies', user_id=user.user_id) }}">back to user's movies</a>

</body>
</html>