<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie to the MoviWeb App</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>add new movie here</h1><br>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <!-- User Form -->
    <form method="post" action="{{ url_for('add_movie') }}">
        <label for="title">enter movie title:</label>
        <input type="text" id="title" name="title" value="{{ movie_data.title if movie_data.title else '' }}" required><br>

        <input type="submit" value="add it">
    </form>

    <div>
        <!-- Go to Users Page -->
        <a href="{{ url_for('list_users') }}">back to users</a><br><br>

        <!-- a link to all movies -->
        <a href="{{ url_for('list_movies') }}">all movies in dataBase</a><br><br>
    </div>
</body>
</html>