<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User from the MoviWeb App</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <h1>delete user from dataBase</h1>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <!-- User Form -->
    <form method="post" action="{{ url_for('delete_user', user_id=user.user_id) }}">
        <input type="submit" value="delete it">
    </form>

    <!-- Go to Movies Page -->
    <a href="{{ url_for('list_movies') }}">to movies list</a>

</body>
</html>