<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Movies</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script>
        // JavaScript function to confirm movie deletion
        function confirmDeletion(movieId) {
            const confirmation = confirm("Are you sure you want to delete this movie?");
            if (confirmation) {
                // If confirmed, submit the delete form
                document.getElementById('delete-form-' + movieId).submit();
            }
        }
    </script>
</head>
<body>
    <h1>all movies in the  dataBase:</h1>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <div>
        <!-- add movie -->
        <a href="{{ url_for('add_movie') }}">to add a movie press here</a><br><br>

        <!-- Go to Users Page -->
         <a href="{{ url_for('list_users') }}">to users</a>
    </div>

    <!-- List of Movies -->
    {% if movies %}
        <ul>
            {% for movie in movies %}
            <li>
                <!-- Display movie details -->
                {{ movie.title }} ({{ movie.release_year }}) - directed by {{ movie.director }} - rating: {{ movie.movie_rating }}

                <!-- Edit Button -->
                <a href="{{ url_for('update_movie', movie_id=movie.movie_id) }}">edit</a>

                <!-- Delete Button with confirmation -->
                <form id="delete-form-{{ movie.movie_id }}" action="{{ url_for('delete_movie', movie_id=movie.movie_id) }}" method="POST" style="display: inline;">
                    <button type="button" onclick="confirmDeletion({{ movie.movie_id }})">delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>no movies found in dataBase</p>
    {% endif %}

</body>
</html>