<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie to the User</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>you can edit movie details</h1><br>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <!-- Movie Edit Form -->
    <form method="post" action="">
        <label for="title">title:</label>
        <input type="text" id="title" name="title" value="{{ movie.title }}" required><br><br>

        <label for="director">director:</label>
        <input type="text" id="director" name="director" value="{{ movie.director }}" required><br><br>

        <label for="release_year">year of movie release:</label>
        <input type="text" id="release_year" name="release_year" value="{{ movie.release_year }}" required><br><br>

        <label for="movie_rating">today's movie rating:</label>
        <input type="text" id="movie_rating" name="movie_rating" value="{{ movie.movie_rating }}" required><br><br>

        <input type="submit" value="update movie">

        <!-- Go to Movies List -->
         <a href="{{ url_for('list_movies') }}">back to movies</a>
    </form>
</body>
</html>